* {
    font-family: Gudea, Heiti, 微軟正黑體, "Microsoft JhengHei";
}

section {
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    gap: 20px;

    h2 {
        position: relative;
    }

    h2::before {
        position: absolute;
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        z-index: -1;
        top: -5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 18px 18px 0 0;
        border-color: #11d073 transparent transparent;
    }
}

.topic-card,
.tour-card,
.free-trip-card,
.ad-card {
    position: relative;
    border-radius: 10px;
    transition: all .4s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 3px 15px 0 rgba(34, 34, 34, .15);
    }
}

/* 卡片圖片遮罩 */
.card-img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .shadow-bg {
        position: absolute;
        content: '';
        inset: 0;
        border-radius: 10px;
        background-image: linear-gradient(180deg, rgba(34, 34, 34, 0) 45%, rgba(34, 34, 34, .6) 90%);
    }
}

/* 焦點標題裝飾 */
.topic-section {

    h2::before {
        border-width: 36px 36px 0 0;
        border-color: #fab617 transparent transparent;
    }
}

.container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-items: stretch;
}

/* 焦點話題-左邊圖卡 */
.topic-card {
    width: 230px;
}

.topic-card:nth-child(1) {
    grid-row: 1 / span 3;
}

.topic-card:nth-child(2) {
    grid-row: 1 / span 2;
    height: 210px;
}

.topic-card:nth-child(3) {
    grid-row: 3 / span 1;
    height: 105px;
}

.topic-card:nth-child(4) {
    grid-row: 1 / span 1;
    height: 105px;
}

.topic-card:nth-child(5) {
    grid-row: 2 / span 2;
    height: 210px;
}

/* 焦點話題-右邊列表 */
.ad-list {
    display: grid;
    grid-column: 4;
    grid-row: 1 / span 3;
    gap: 15px;
}

.ad-card {
    background-color: #fafafa;
    border-radius: 10px;

    img {
        width: 110px;
        aspect-ratio: 11 / 7;
    }
}

/* 日本跟團 */
.tour-cards {
    grid-template-columns: 540px repeat(2, 1fr);
    gap: 20px;
}

.tour-tab,
.free-trip-tab {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.link-active {
    color: #0c9251;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 3px solid #11d073;
}

.tour-card:nth-child(1) {
    background-image: url('https://image.cdn-eztravel.com.tw/WjidF3sc6lamzvaDykyIPaufcuS3SIrWi57zFB3sIa4/rs:fit:1000:600:1/g:ce/q:95/aHR0cHM6Ly92YWNhdGlvbi5jZG4tZXp0cmF2ZWwuY29tLnR3L2ltZy9WRFIvc3VtbWVyMjAyNl83Njh4NDAwLmpwZw.jpg');
    grid-row: 1 / span 2;
    height: 395px;
}

.tour-card:nth-child(2) {
    background-image: url('https://image.cdn-eztravel.com.tw/y7AdNo2aNTF3DR7vHrk-B-CCVEKxFVvKB3F7TWvYer8/rs:fit:1000:600:1/g:ce/q:95/aHR0cHM6Ly92YWNhdGlvbi5jZG4tZXp0cmF2ZWwuY29tLnR3L2ltZy9WRFIvSlBfMjM4NjQyNzkxNS5qcGc.jpg');
}

.tour-card:nth-child(3) {
    background-image: url('https://image.cdn-eztravel.com.tw/och2Vxcr9puw9ubb6o5sgrOPbRyDfzBmQLqC80Yep-c/rs:fit:1000:600:1/g:ce/q:95/aHR0cHM6Ly92YWNhdGlvbi5jZG4tZXp0cmF2ZWwuY29tLnR3L2ltZy9WRFIvSlBfMzg3MDk1MzExLmpwZw.jpg');
}

.tour-card:nth-child(4) {
    background-image: url('https://image.cdn-eztravel.com.tw/GYKsrdZrCUD2aUvFhFOTLpvx34jsjZaFkvbA6hcfGXM/rs:fit:1000:600:1/g:ce/q:95/aHR0cHM6Ly92YWNhdGlvbi5jZG4tZXp0cmF2ZWwuY29tLnR3L2ltZy9WRFIvQVVfNTg5NjI2NTkzLmpwZw.jpg');
}

.tour-card:nth-child(5) {
    background-image: url('https://image.cdn-eztravel.com.tw/5xDP-9fpMY-pqrYLtlnXf1BeOCaskpBvQN3PvsosfoU/rs:fit:1000:600:1/g:ce/q:95/aHR0cHM6Ly92YWNhdGlvbi5jZG4tZXp0cmF2ZWwuY29tLnR3L2ltZy9GUk4vRlJOMDAwMDAxOTQyNS5naWY.png');
}

/* 自遊最夯 */

.free-trip-section {
    grid-template-columns: 260px 820px;
    grid-template-areas: "header header" "aside content" "more more";
}

.free-trip-navbar {
    grid-area: header;

    .bottom-list li {
        font-size: 16px;
        padding: 5px 10px;
        width: fit-content;
        color: #666;
        border-radius: 3px;
        cursor: pointer;
    }

    .bottom-list-active {
        background-color: #11d073;
        color: white !important;
    }
}

.free-trip-aside {
    grid-area: aside;
}

.free-trip-content {
    grid-area: content;
}

.free-trip-cards {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .card-img {
        width: 165px;

        img,
        .shadow-bg {
            border-radius: 10px 0 0 10px;
        }
    }
}

.free-trip-more {
    grid-area: more;

    #moreBtn {
        width: 22px;
        height: 22px;
        display: inline-block;
        border-radius: 50%;
        margin-left: 10px;
        background-color: #11d073;
        color: white;
        transition: all .4s;
    }
}

/* 自遊最夯 - 大家都在找 */
.aside-list {

    li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;

        a {
            font-size: 14px;
        }
    }
}

/* Swiper */
.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: hsla(0, 0%, 73%, .3);
    border-radius: 50%;

    svg {
        width: 9px;
    }
}